<div class='container'>
<h1>Bookings</h1>

<% @bookings.each do |booking| %>

 <%=booking.city%>
     <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete #{booking} from your tasks list?" } do %>
    <i class="far fa-trash-alt"></i>
    <% end %>

    <%#= link_to party_animal.name, party_animal_path(party_animal) %>

  </div>

<% end %>


<%#= link_to "New Party Animal", new_party_animal_path %>
