<div class='container'>
<h1>Bookings</h1>

<% @bookings.each do |booking| %>

 <%=booking.city%>

    <%#= link_to partyanimal.name, party_animal_path(partyanimal) %>

  </div>

<% end %>


<%#= link_to "New Party Animal", new_party_animal_path %>
