<div class='container'>
  <div class="cards">
    <% @partyanimals.each do |partyanimal| %>
      <div class="card-product">
        <% if partyanimal.avatar.attached? %>
          <%= cl_image_tag partyanimal.avatar.key %>
        <% else %>
         <%= image_tag 'noavatar' %>
        <% end %>
        <div class="card-product-infos">
          <%= link_to partyanimal.name, party_animal_path(partyanimal) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
