<div class='container'>
<h1>Welcome to the best place for a party animal!</h1>
<h2>Who is a party animal anyways?</h2>
<h3><em>/ˈpɑː.tiˈænɪməl/</em> <strong>noun</strong></h3>
<h4>1. One who attends many parties</h4>
<p>Best friends getting drunk and taking their pants off. Going streaking at 3 am. Playing beerpong till there's no more beer. Singing all the words to Lil Wayne's songs. Different boys every weekend. Drunk texting and calling. Sneakin
</div>