.booking-type {
    p {
      margin: 0;
      line-height: 1.5rem;
    }
  padding-bottom: 3%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  grid-area: type;
}
.booking-animal {
    a {
      color: rgba(0, 0, 0, 0.678);
      text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    }

  font-size : 2rem;
  font-weight: bolder;
  grid-area: animal;
  display: flex;
  padding-top: 1rem;
  align-self: center;
}
.booking-hours {
  grid-area: hours;
  display: flex;
}
.booking-address {
  grid-area: address;
  display: flex;
}
.booking-price {
  grid-area: price;
  display: flex;
}

.booking-actions {
  grid-area: button;
}

.booking-status {
  grid-area: status;
}
.booking-status {
  grid-area: status;
  margin-bottom: 10px;
}

.booking-between {
  grid-area: between;
  padding-right: 15px;
}

.booking-card {
    p {
      margin-bottom: 0;
    }
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas: 
            "type animal animal animal"
            "type address address address"
            "type between between between"
            "type hours hours hours"
            "type price price price"
            "type status status button";
  background-color: white;
  background-size: cover;
  border-radius: 5px;
  column-gap: 4%;
  margin-bottom: 5vmin;
  max-height: 55vh;
}

.dropdown-menu {
  min-width: 100px;
  padding: 0.5rem 0.5rem;
}

div.dropdown {
  display: inline;
}

