/*  body {
    font-family: sans-serif;
     background-color: #81d4fa;
     font-weight: bolder;
     color: black;
 } */

.text-box {
  margin-left: 44vw;
	margin-top: 42vh;
}

.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;

}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: black;
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: #D1A9DB;
  color: black;
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.button-white::after {
  background-color: #D1A9DB;
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.fancy{
  padding-bottom: 4vh;
  align-self: center;
}

.fancy-item-1 {
  margin-top: 5px;
  position: absolute;
  right: 75%;
}

.fancy-item-2 {
  margin-top: 5px;
  position: absolute;
  right: 50%;

}

.fancy-item-3 {
  margin-top: 5px;
  position: absolute;
  right: 75%;
  bottom: -12%;
}

.fancy-item-4 {
  margin-top: 5px;
  position: absolute;
  right: 50%;
  bottom: -9%;
}

